.grape {
  text-align: center;
}

.circles {
  display: inline-block;
  border: solid 1px #5218FA;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-weight: 600;
  cursor: pointer;
}

.NONE {
  background-color: #FFFFFF;
  color: #000000;
}

.DONE {
  background-color: #5218FA;
  color: #FFFFFF;
}

.HALF {
  background-color: #9aff67;
}
