.names {
  display: flex;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
}

.grape {
  text-align: center;
}

.circles {
  display: inline-block;
  border: solid 1px #5218FA;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-weight: 600;
  cursor: pointer;
  /* disable selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.NONE {
  background-color: #FFFFFF;
  color: #000000;
}

.DONE {
  background-color: #5218FA;
  color: #FFFFFF;
}

.HALF {
  background-color: #9aff67;
  color: #000000;
}
